include LICENSE
include README.md
include pyproject.toml
# Exclude development/test files previously included
# prune docs
# prune tests
# exclude requirements.txt
# exclude TODO.md

recursive-include docs *
recursive-include tests *.py 